{% extends 'BaseUI/BaseWeb/base.html' %}
{% load staticfiles %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block library %}
{#    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">#}
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{% endblock %}

{% block navbar %}
{#    <a id="#signin" class="a-login" data-toggle="modal" data-target="#formsignin"><i class="fa fa-sign-in"></i></a>#}
{#    <a class="" href="{% url 'home' %}" data-toggle="tooltip" data-placement="bottom" title="Home"><i class="fa fa-home"></i></a>#}
{% endblock %}

{% block content %}
        <div class="index-normal">
            <div id="index-text" style="font-family: 'serif'; font-size: 20px;">
                <img src="{% static 'image/logo/HUST150.png' %}">
                <h1>Fast More. Exactly More.</h1>
                <h3>Inspection As a Service helps millions of administrators,<br> businesses and users  in monitoring, maintaining<br> and replacing facilities immediately</h3><br>
                <h4>Create your free account</h4>
            </div>
            <dv><br><br></dv>

        </div>
<form method="post">
    {% csrf_token %}
    <input type="text" placeholder="Email or username!" name="txtuser">
    <br>
    <input type="password" placeholder="***********" name="txtpass">
    <br>
    <button type="submit">LOGIN</button>
    <br>
    <br>
    <br>
</form>

   <script> {# Notification Account or pass false#}
    var error ='{{ error }}';
        if(error!=''){
            if (confirm("{{ error }}\nVui lòng đăng nhập lại !")) {
                $("#formsignin").modal();
            }
        }
    </script>

{% endblock %}
