{% extends 'BaseUI/BaseFacility/baseProposal.html' %}
{% load staticfiles %}

{% block library %}
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

<!----------BLOCK MENU----------->
{% block listProposal %}{% url 'proposalDisplay' componentID %}{% endblock %}
{% block newsensor %}{% url 'newsensor' componentID %}{% endblock %}
{% block backComp %}{% url 'componentDisplay' equipmentID %}{% endblock %}
<!----------END BLOCK----------->

{% block data-content %}
    <form method="post" id="listProposal">
    {% csrf_token %}
    <div class="input-data">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><b>Component Information</b></legend>

            <div class="row">
                <div class="col-md-4">Facility Name:</div>
                <div class="col-md-8"><input type="text" name="facilityName" class="form-control" value="{{ faci.facilityname }}" placeholder="Input equipment name here!" readonly></div>
            </div>

            <div class="row">
                <div class="col-md-4">Equipment Name:</div>
                <div class="col-md-8"><input type="text" class="form-control" name="equipmentNumber" placeholder="Input equipment number here!" value="{{ equip.equipmentname }}" readonly></div>
            </div>

            <div class="row">
                <div class="col-md-4">Component Name:</div>
                <div class="col-md-8"><input type="text" name="componentName" class="form-control" value="{{ comp.componentname }}" placeholder="Input equipment name here!" readonly></div>
            </div>

            <div class="row">
                <div class="col-md-4">Sensor Name:<span style="color: red">*</span></div>
                <div class="col-md-8"><input type="text" name="sensorName" class="form-control" value="{{ comp.componentname }}" placeholder="Input equipment name here!" required></div>
            </div>

            <div class="row">
                <div class="col-md-4">Access Token:<span style="color: red">*</span></div>
                <div class="col-md-8"><input type="text" name="accessToken" class="form-control" value="{{ data.equipmentname }}" placeholder="Input equipment name here!" required></div>
            </div>

            <div class="row">
                <div class="col-md-4">Description:</div>
                <div class="col-md-8">
                    <textarea type="text"  class="form-control"  name="description" placeholder="Write equipment description here!"></textarea>
                </div>
            </div>
        </fieldset>

        <div class="row"></div>
        <div class="row">
            <div class="col-md-12" style="text-align: right"><button type="submit" class="btn btn-primary">Submit</button></div>
        </div>
    </div>
    </form>
{% endblock %}